.dashboard
    display flex
    flex-direction column
    align-items center
    justify-content center
    background center no-repeat #bbb
    background-size cover
    height 100vh
    width auto
    .card
        .icon
            height 50px
    h3
        font-size 24px
        font-weight bold
        color #fff
        padding 5px 30px
        border-radius 5px
        margin-bottom 10px
        text-shadow -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0 0 2px #000
    ul
        li
            display inline-block
        
